.container{
    display: flex;
    flex-direction: row;
    position: relative;
}



.scroll{
   
    height: 70rpx;
    display: flex;
    flex:1;
    flex-direction: row;
    white-space: nowrap;
}
.list{
    display: flex;
    flex-direction: row;
}


.item{
    composes: text-Body from global;
    padding:20rpx;
    display: inline-block;
    color:var(--bwAlpha05);
}

.itemActive{
    composes:item;
    color:var(--bwAlpha09);
    font-weight: bold;
}