.container {
  width: 46%;
  margin: 10px;
  position: relative;
  box-sizing: border-box;
  
}
.item {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  overflow: hidden;
  border-radius: 16px;
}

.image {
  position: relative;
  display: block;
  width: 100%;
  height: 400rpx;
}
.info {
  background-color: #ffffff;
  padding: 6px;
}
.title {
  composes:text-Body from global;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  composes: text-Support from global;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dot{
  display: inline-block;
  margin: 5px;
  height: 8px;
  width: 8px;
  background-color: var(--bwAlphaOpacity30);
  border-radius: 50%;
  
}

.options{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center
  
}
