.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #999;
}

.message {
  composes: text-Support from global;
}

.messageLoading {
  composes: message;
  margin-left: 20px;
}
