.container {
  height: 75px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.text {
  composes: text-Headline from global;
  position: relative;
  text-align: center;
  
}

.line {
  position: relative;
  width: 120px;
  height: 5px;
  background: orange;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
