.container {
  height: 75px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.text {
  position: relative;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.line {
  position: relative;
  width: 120px;
  height: 5px;
  background: orange;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
