.area{
    position: relative;
	width: 100%;
    height: 200px;
    margin-top: 20px;
}

.line{
    position: absolute;
    width: 1380px;
    height: 1px;
    background: #ededed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.chatArea{
    width: 1800px;
    height: 200px;
    display: flex;
    align-items: center;
}

.chatbox{
    position: relative;
    width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactDetails{
    display: flex;
}

.chatboxLeft{
    position: relative;
    margin-right: 20px;
}

.avatar{
    margin-left: 40px;
    margin-top: 10px;
    height: 150px;
    width: 150px;
}

.nameMsgDate{
    display: flex;
    flex-direction: column;
}

.contactName{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
}

.lastMsg{
    margin-top: 10px;
    margin-left: 10px;
    color: #9D9D9D;
    font-size: 30px;
}

.time{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.chatboxRight{
    position: relative;
    margin-left: 120px;
    margin-top: 10px;
}

.isSold{
    position: absolute;
    right: -275px;
    height: 150px;
    width: 150px;
    background-color: grey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete{
    position: absolute;
    margin-left: 750px;
    width: 150px;
	height: 200px;
	background: #ED6F20;
    color: #fff;
	line-height: 150px;
	text-align: center;
    border-radius: 0 10px 10px 0;
}



