.container{
    width: 100%;
    height: 75px;
}

.topContainer{
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tagContainer{
    height: 75px;
    width: 475px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nextPageContainer{
    align-items: center;
    margin-top: 15px;
    margin-left: 125px;
}

.goodsContainer {
    width: 100%;
    margin-top: 80px;
}


