
.btn{
    composes:text-Body from global;
    margin: 10rpx;
    color:var(--orange);
}

.container{
    position: fixed;
    top:50%;
    transform: translateY(-50%);
    right:10rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rpx;
    
}