.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.loader {
  padding: 20rpx 100rpx;
}

.header{
  composes: flex from global;
  position: sticky;
  top:0;
  z-index: 1;
  background-color: white;
}

.addMini {
  position: fixed;
  right: 20rpx;
  top: 15rpx;
  background: #ec5b5b;
  padding: 10rpx 20rpx;
  z-index: 999;
  border-radius: 30rpx;
}
.addText {
  color: #fff;
  font-size: 24rpx;
}
.addStyle {
  position: absolute;
  right: 100rpx;
  top: -35rpx;
  width: 0;
  height: 0;
  border: 20rpx solid;
  border-color: transparent transparent #ec5b5b;
  /* border-right: 40rpx solid #f03131; */
}

.fab{
  display: flex;
  position: fixed;
  z-index: 999;
  bottom: 40rpx;
  right: 40rpx;
}

/* 排序按钮 */
.btn {
  composes: bg-gradual-peach from global;
  composes: shadow-blur from global;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 30rpx;
  height: 64rpx;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  overflow: visible;
  margin-left: initial;
  transform: translate(0rpx, 0rpx);
  margin-right: initial;
}

.btn_sm {
  composes: btn;
  composes: text-Support from global;
  padding: 0 20px;
  
  height: 48rpx;
}

.sort {
  height: 55rpx;
  font-size: 36rpx;
  position: relative;
  bottom: -1px;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 4px;
  color:grey;
  font-size:32rpx
}
