.container{
  position: flex;
  background: #fff;
  /* background: beige; */
  padding:10px;
}

/* margin-left: 32rpx */
/* font-size */
.form_style{
  width: 100vw;
  height: 100vh;
}

.input_style{
  font-size: 30rpx;
  color: #666;
  padding: 10rpx 0;
  width: 100vh;
}

.input_text{
  font-size: 30rpx;
  color: #666;
  padding: 10rpx 0;
}

.counter{
  padding-top: 12rpx;
  width: 100%;
  color: #C9C9C9;
  font-size: 28rpx;
  text-align: right;
  line-height: 1;
}

.input_item{
  align-items: center;
	padding: 20rpx;
	line-height: 2;
	display: flex;
	font-size: 30rpx;
	border-top: 1rpx solid #e8e8e8;
}

.icon {
  width: 45px;
  height: 45px;
  vertical-align: sub;
  margin-right: 20rpx;
}

.icon_inline {
  width: 50px;
  height: 45px;
  align-self: center;
  margin-right: 20rpx;
}