.container {
  composes: text-Explain from global;
  display: inline-block;
  padding: 0 5px;
  margin-right: 10px;
}

.shop {
  composes: container;
  color: #ff4f4f;
  background-color: #ffe8e8;
}

.new {
  composes: container;
  color: #07bc71;
  background-color: #e0f6ed;
}
.used {
  composes: container;
  color: #fa6f19;
  background-color: #feede3;
}
