.container {
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 35px;
  padding-top: 35px;
}

.listTitle {
  height: 55px;
  /* border-bottom: 1px solid #00AFEB; */
  font-size: 36px;

  position: relative;
  bottom: -1px;
  color: #333;
  font-weight: bold;
  border-left: 8px solid #ff8601;
  padding-left: 20px;
  margin-bottom: 8px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 4px;
}

.sort {
  height: 55rpx;
  /* border-bottom: 1px solid #00AFEB; */
  font-size: 36rpx;

  position: relative;
  bottom: -1px;
  color: #333;
  font-weight: bold;

  padding-left: 10px;
  margin-bottom: 4px;
}

.bg-gradual-orange {
  background-image: linear-gradient(45deg, #ff9700, #ed1c24);
  color: #fff;
}

.btn {
  composes: bg-gradual-orange;
  position: relative;
  border: 0rpx;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 30rpx;
  font-size: 28rpx;
  height: 64rpx;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  overflow: visible;
  margin-left: initial;
  transform: translate(0rpx, 0rpx);
  margin-right: initial;
}

.btn_sm {
  composes: btn;
  padding: 0 20px;
  font-size: 20px;
  height: 48rpx;
}

.icon_unfold::before {
  content: "\e661";
  width: 80rpx;
  height: 80rpx;
  color: white;
}

.loader {
  padding: 20px;
}
