.avatar {
  border-radius: 50%;
  overflow: hidden;
}

.avatar_sm {
  composes: avatar;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.avatar_lg {
  composes: avatar;
  margin-right: 30px;
  width: 114px;
  height: 114px;
  overflow: hidden;
}

.avatar_md {
  composes: avatar;
  width: 57px;
  height: 57px;
}
